
h1 {
    text-align:center;
}

#header-pic {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(0,19,36);
    background: linear-gradient(90deg, rgba(0,19,36,1) 0%, rgba(60,121,9,1) 100%, rgba(0,212,255,1) 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

body {
    background-image: url("test_image.jpg");
    background-size:cover;
    color: aliceblue;
}

* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.test-button {
    display: block;
    text-align: center;
    margin: 15px auto;
    border: 1px solid yellowgreen;
    width: 25%;
    cursor: not-allowed;
    transition: .5s;
}

.test-button:hover {
    box-shadow: 0 0 35px cyan;
}

a {
    color: aqua;
    text-decoration: none;
}